<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <div class="search-container">
      <input type="text" id="name-filter" placeholder="Buscar por nombre" />
      <input type="text" id="email-filter" placeholder="Buscar por correo electrónico" />
      <select id="gender-filter">
        <option value="">Seleccionar género</option>
        <option value="Masculino">Masculino</option>
        <option value="Femenino">Femenino</option>
      </select>
      <button id="search-button">Buscar</button>
    </div>

    <div class="card-container" id="user-cards">
      <!-- Las tarjetas de usuario se agregarán aquí mediante JavaScript -->
    </div>

    <button id="logout-button">Cerrar sesión</button>
    <button id="games-button">Juegos</button>


    <script type="module" src="../controller/gestorController.js" defer></script>
  </body>
</html>
