<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menú con Botones</title>
  <link rel="stylesheet" href="stylegame.css"> <!-- Enlazamos el archivo CSS -->
</head>
<body>
  <div class="menu">
    <button id="gameOne-button">PingPong</button>
    <button id="gameTwo-button">Stack Game</button>
    <button id="gameThree-button">Snake</button>
    <button id="gameFour-button">Come game</button>
  </div>

  <script type="module" src="/controller/menuJuegosController.js"></script>
</body>
</html>