<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menú con Botones</title>
  <link rel="stylesheet" href="stylegame.css"> <!-- Enlazamos el archivo CSS -->
</head>
<body>
  <div class="menu">
    <button id="gameOne-button">sdfgsdfffffffffffffffffffff</button>
    <button id="gameTwo-button">Opción 2</button>
    <button id="gameThree-button">Opción 3</button>
    <button id="gameFour-button">Opción 4</button>
  </div>

  <script type="module" src="/controller/menuJuegosController.js"></script>
</body>
</html>