/* Estilos CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa; /* Color de fondo azul pastel */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la ventana */
  }

  
  
  .container {
    background-color: #ffffff; /* Fondo blanco para el contenedor */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .menu {
    margin-bottom: 20px; 
    background-color: #ffffff; 
    padding: 60px;
    border-radius: 6px;
    display: block;
  }
  
  .menu button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #81d4fa; /* Azul pastel para los botones del menú */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

  }
  
  .menu button:hover {
    background-color: #4fc3f7; /* Tono más oscuro al pasar el cursor */
  }
  
 